<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SignUp Page</title>
<link rel="stylesheet" th:href="@{/css/signup.css}">
</head>
<body>
	<div class="First">

		<div class="signupimage">
			<img th:src="@{/images/heart.gif}" alt="Example Image">
		</div>
		<div class="signUpForm">
			<h1>Sign Up</h1>
			<form th:object="${user}" th:action="@{/Royce/register}"
				method="post">
				<label for="username">UserName</label> <input type="text"
					id="username" name="username"> <br> <label
					for="password">Password</label> <input type="password"
					id="password" name="password"> <br>

				<button type="submit">Submit</button>

				<span style="color:#2e86de">Already Registered ? <a th:href="@{/Royce/Login}">
						Login</a></span>
			</form>
		</div>

	</div>
</body>
</html>